<%- include('./partials/header') -%>

    <h1>Contact Us</h1>
    <p><%= content %></p>
     <a class="blog-link" href="https://newsletter-qp5t.onrender.com/" target="_blank">Subscribe Our Newsletter</a>
     <a class="portfolio-link" href="https://priyankvermaportfolio.netlify.app/" target="_blank">Know About Me!</a>
    <%- include('./partials/footer') -%>